.hero-banner {
  background: url("https://www.pixsavor.com/uploads/large/ice-cream/ice-cream-cone-background.jpg")
    center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
