.navbar .navbar-brand {
  margin-right: 4rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #d63384;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #343a40;
}

.navbar-nav .nav-link:hover {
  color: #d63384;
}

.navbar {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.navbar .form-control {
  width: 180px;
}

.navbar .btn-outline-success {
  margin-left: 0.5rem;
}
